.force-center {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}
th {
  text-align: center;
}
.icon {
  font-size: 20px;
  font-weight: bold;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.header-add {
  position: absolute;
  margin-top: 5px;
  right: 35px;
}
